{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
{% endblock %}

{% block title %}checkout{% endblock %}

{% block content %}
<h1> shoutout to our  TAs</h1>
<h2> Ahmed Karem</h2>
<h2> Ahmed Hamdy</h2>
<h2> Mayar</h2>
<table>
    <thead><tr>
        <th>Name</th>
        <th>section</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td> shahd Nasser</td>
            <td>42210164</td>
        </tr>
        <tr><td>Hussein mohamed</td>
        <td>42310560</td></tr>
        <tr><td>Weam gamal </td>
        <td>42210246</td></tr>
        <tr>
            <td>Mennat-allah ahmed</td>
            <td>42210214</td>
        </tr>
        <tr>
            <td>Mariam Moustafa</td>
            <td>42210179</td>
        </tr>
        <tr>
            <td>Ahmed Osman</td>
            <td>42210168</td>
        </tr>
        <tr>
            <td>Mohamed Essam</td>
            <td>42310503</td>
        </tr>
    </tbody>
</table>

</div>

{% endblock %}
{% block script %}


{% endblock %}